<item>
<title>[B] [COLOR red]TR-TURKEY[B] [COLOR white]YAYINN[B] [I] [COLOR red] 1[/B] [/I] [/COLOR]</title>
<link>http://ignorame<link><thumbnail>https://www.dropbox.com/s/74da9qf3r7zuh1b/cakir.jpg?dl=1</thumbnail>
<fanart>https://www.dropbox.com/s/ncfi78shkgo344e/fanart.jpg?dl=1</fanart>
<externallink>http://kodibalkan.com/MenuWorld/TURKEY/link0.xml</externallink>
</item>
	
<item>
<title>[B] [I] [COLOR red]TR-TURKEY[B] [I] [COLOR white]LIVE TV[B] [I] [COLOR red] 2[/B] [/I] [/COLOR]</title>
<link>http://ignorame<link><thumbnail>https://cdn.countryflags.com/thumbs/turkey/flag-800.png</thumbnail>
<fanart>http://rtvuzivo.net/robinhood/slike/kodiadd-ons.jpg</fanart>
<externallink>http://kodibalkan.com/MenuWorld/TURKEY/link1.xml</externallink>
</item>
	
<item>
<title>[B] [I] [COLOR red]TR-TURKEY[B] [I] [COLOR white]LIVE TV[B] [I] [COLOR red] 3[/B] [/I] [/COLOR]</title>
<link>http://ignorame<link><thumbnail>https://cdn.countryflags.com/thumbs/turkey/flag-800.png</thumbnail>
<fanart>http://rtvuzivo.net/robinhood/slike/kodiadd-ons.jpg</fanart>
<externallink>http://kodibalkan.com/MenuWorld/TURKEY/link1.xml</externallink>
</item>
	
<item>
<title>[B] [I] [COLOR red]TR-TURKEY[B] [I] [COLOR white]LIVE TV[B] [I] [COLOR red] 4[/B] [/I] [/COLOR]</title>
<link>http://ignorame<link><thumbnail>https://cdn.countryflags.com/thumbs/turkey/flag-800.png</thumbnail>
<fanart>http://rtvuzivo.net/robinhood/slike/kodiadd-ons.jpg</fanart>
<externallink>http://kodibalkan.com/MenuWorld/TURKEY/link4.xml</externallink>
</item>