<item>
<title>[B] [COLOR red]TR-TURKEY[B] [COLOR white]YAYINN[B] [I] [COLOR red] 1[/B] [/I] [/COLOR]</title>
<link>http://ignorame<link><thumbnail>https://www.dropbox.com/s/74da9qf3r7zuh1b/cakir.jpg?dl=1</thumbnail>
<fanart>https://www.dropbox.com/s/ncfi78shkgo344e/fanart.jpg?dl=1</fanart>
<externallink>https://www.dropbox.com/s/v7nq2elrztdec5b/xml.xml?dl=1</externallink>
</item>

